.item-letter {
    background-color: #EADDFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #21005D;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #6750A4;
}  

.pay-btn {
    color: #6750A4;
}

.back-btn {
    color: #B3261E;
}

::ng-deep.mat-dialog-container {
    padding: 0;
}