<div class="div-bkg main p-3">
    <div>
        <div class="d-flex justify-content-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
        </div>
        <div class="d-flex justify-content-center mb-2 headline">
            Fatura
        </div>
        <div class="d-flex justify-content-center mb-2 total">
            {{totali}} ALL
        </div>
        <div class="container mt-2 scroll-items">
            <div class="row border-bottom" *ngFor="let product of data; let i = index">
                <div class="col-2 d-flex align-items-center p-0">
                    <div class="item-letter d-flex align-items-center ">
                        <span class="mx-auto" style="font-size: 11px;">{{product.name | firstCharacter}}</span>
                    </div>
                </div>
                <div class="col-5 p-name">{{product.name}}</div>
                <div class="col-3 u-price">{{product.quantity}} x {{product.unitPrice}}</div>
                <div class="col-2 i-check">
                    <mat-checkbox
                        [(ngModel)]="product.checked"
                        (change)="checkItem($event.checked, i)">
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn back-btn btn-fatura m-1" (click)="closeDialog()">Anullo</button>
            <button class="btn pay-btn border-0 btn-fatura m-1" [disabled]="totali == 0" (click)="pay()">Paguaj</button>
        </div>
    </div>
</div>
