<div class="div-bkg main">
    <app-header></app-header> 
    <div class="spinner-container" *ngIf="showSpinner">
        <mat-spinner class="mx-auto"></mat-spinner>
    </div>
    <div class="container div-bkg " *ngIf="!showSpinner">
        <div class="row">
            <mat-form-field class="example-form-field col-12 search">
                <mat-label>Filter categories</mat-label>
                <input  class="input-text" matInput placeholder="..." value="" [(ngModel)]="searchInput" (keyup)="searchFilter()">
                <button matSuffix mat-icon-button aria-label="Serach" class="border-0 icon">
                    <i class="fa fa-search"></i>
                </button>
            </mat-form-field>
        </div>
        <div>
            <div *ngFor="let category of categories">
                <div class="d-flex justify-content-between p-3 border-bottom" (click)="goToItems(category.id)">
                    <div>{{category.name}}</div>
                    <div class="items"> {{category.products.length}} Items</div>
                </div>
            <div>
        </div>
    </div>
</div>
