

::ng-deep.mat-form-field-flex {
    background: #E7E0EC;
}

.icon {
    background: #E7E0EC;
}

.items {
    font-size: 11px;
}

.main {
  overflow-x: hidden;
  height: 100%;
}

.spinner-container{
    display: flex;
    align-items: center;
    height: 100%;
}

::ng-deep.mat-progress-spinner svg {
    width: 60px !important;
    height: 60px !important;
    color: rgba(253, 253, 253, 0.666);

}